.content {
  font-size: 1.175rem;
}

.content pre {
  overflow: auto;
}

.content img {
  max-width: 100%;
}

.content > *,
.content p {
  @apply my-5;
}

.content > *:first-child,
.content > *:first-child > *:first-child {
  @apply mt-0;
  @apply pt-0;
}

.content > *:last-child,
.content > *:last-child > *:last-child {
  @apply mb-0;
}

.content a {
  color: var(--content-link-fg);
}

.content a:hover {
  text-decoration: var(--content-link-hover-decoration);
}

.content h2 {
  font-size: 2.3rem;
  font-weight: 700;
  @apply border-b-2;
  @apply border-yellow-300;
  @apply pb-1;
  @apply pt-10;
  @apply mb-8;
}

.content h3 {
  @apply font-normal;
  @apply pt-10;
  font-size: 2rem;
}

.content h4 {
  font-size: 1.5rem;
  @apply pt-10;
}

.content h5 {
  font-size: 1.1rem;
}

.content h6 {
  font-size: 1rem;
  font-weight: bold;
}

.content ul {
  @apply list-disc;
  margin-left: 1.25rem;
}

.content blockquote {
  padding: 10px 15px;
  border-left: 3px solid rgb(0, 0, 0);
  margin: 20px 0px;
}
.content blockquote p,
.message p {
  margin: 0;
}
blockquote p:not(:first-child),
.message p:not(:first-child) {
  margin-top: 20px;
}
.message {
  background: whitesmoke;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #4a4a4a;
  padding: 1em 1.25em;
  margin: 25px 0;
  @apply dark:text-gray-200 dark:border-gray-600 dark:bg-gray-500 dark:bg-opacity-25;
}
.message.message_type__alert {
  background: #fff5f7;
  border-color: #ff3860;
  color: #cd0930;
  @apply dark:border-red-900 dark:bg-red-700 dark:bg-opacity-25;
}
.message.message_type__info {
  background: #f6fbfe;
  border-color: #209cee;
  color: #12537e;
  @apply dark:text-blue-500 dark:border-blue-800 dark:bg-blue-600 dark:bg-opacity-25;
}
.message.message_type__warning {
  background: #fffdf5;
  border-color: #ffdd57;
  color: #3b3108;
  @apply dark:text-yellow-500 dark:border-yellow-700 dark:bg-yellow-500 dark:bg-opacity-25;
}
.message.message_type__success {
  background: #f6fef9;
  border-color: #23d160;
  color: #0e301a;
  @apply dark:text-green-300 dark:border-green-900 dark:bg-green-800 dark:bg-opacity-25;
}

.anchor {
  position: relative;
  margin-left: -14px;
  opacity: 0.5;
  display: inline-block;
  width: 14px;
  height: 14px;
  visibility: hidden;
}
.anchor:hover {
  opacity: 1;
}
.anchor svg {
  position: absolute;
  right: 5px;
  top: 0;
}
.content h2:hover .anchor,
.content h3:hover .anchor,
.content h4:hover .anchor {
  visibility: visible;
}

.task_list__item {
  @apply list-none;
}

.task_list__item input[type='checkbox']:first-child {
  @apply mr-2;
}

table {
  font-size: 0.95rem;
}
table code {
  font-size: 0.85rem;
}

table td,
table th {
  border: 1px solid var(--table-border-fg);
  padding: 7px 10px;
}

table > tbody > tr > td:first-child {
  padding-right: 5px;
}
table > tbody > tr > td:not(:first-child) {
  padding-left: 5px;
}

table code {
  background: unset;
  padding: unset;
}
